<div>
  <div>
    <app-main-carousel></app-main-carousel>
  </div>

  <div>
    <app-product-slider
      title="Men's Jeans"
      [products]="menJeans"
    ></app-product-slider>
    <app-product-slider
      title="Women's Jeans"
      [products]="womenJeans"
    ></app-product-slider>
    <app-product-slider
      title="Lehanga Choli"
      [products]="lenghaCholi"
    ></app-product-slider>
    <app-product-slider
      title="Men's Kurta"
      [products]="mensKurta"
    ></app-product-slider>
    <app-product-slider title="Shoes" [products]="shoes"></app-product-slider>
  </div>
</div>
